.contact-card {
  background-color: #ffffff;
  width: max-content;
  height: 450px;
  padding: 1.5rem;
  border-radius: 1em;
}

.contact-card > img {
  width: 250px;
  border-radius: 0.5em;
}

.info-area__mobile-number {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.info-area__email-address {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
}
