* {
  box-sizing: border-box;
}

/* .all-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.app {
  display: flex;
  padding: 2rem;
  justify-content: left;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}
