/* global settings */
h1 {
  margin: 0.1rem 0;
}

p {
  margin: 0;
}

header > p {
  margin-left: 0.5em;
}

.journal {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.journal img {
  /* object-fit: contain;   -> very helpfull to maintain image 
   aspect ratio
  */
  height: 250px;
  width: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.journal__information {
  width: 26rem;
}

.journal__location {
  display: flex;
  align-items: center;
}

.location-icon {
  color: #f55a5a;
}
.journal__country {
  margin-right: 0.7rem;
}
